<section class="fila">
  <div class="contenedor1">
    <div class="col-full-12">
      <h2>Ingresar</h2>
    </div>

    <form action="" class="col-full-12">
      <label for="username">Ingresa tu usuario</label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Nombre de usuario"
      />

      <label for="username">Ingresa tu usuario</label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Nombre de usuario"
      />
    </form>
  </div>
</section>
