<form action="" class="fila">
  <section class="contenedor1">
    <div class="col-full-12">
      <h2>Ingresa un pedido</h2>
    </div>
  </section>

  <!--  tabla de registro de pedido  -->
  <table class="contenedor1">

    <!-- Fecha -->
    <tr class="col-full-12">

      <td>

        <input type="date" name="fecha" id="fecha">

      </td>

    </tr>



    <!-- Primer tr -->
    <tr class="col-full-12">
      <td>
        <label for="">N.- Pedido</label>
        <input type="text" />
      </td>

      <td>
        <label for="">Nombre del cliente</label>
        <input type="text" />
      </td>

      <td>
        <label for="">Estado de pedido</label>
        <input type="text" />
      </td>

      <td>
        <label for="">Domicilio</label>
        <input type="text" />
      </td>

      <td>
        <label for="">Tienda origen</label>
        <input type="text" />
      </td>
    </tr>

    <!-- Segundo tr -->
    <tr class="col-full-12">
      <td>
        <label for="">Tipo de pedido</label>
        <input type="text" />
      </td>

      <td>
        <label for="">Piezas Requeridas</label>
        <input type="text" />
      </td>

      <td>
        <label for="">Telefono</label>
        <input type="text" />
      </td>

      <td>
        <label for="">Notas</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </td>
    </tr>
  </table>
</form>