<form action="" class="fila">
  <section class="contenedor1">
    <div class="col-full-12">
      <h2>Ingresa un pedido</h2>
    </div>
  </section>



  <!--  tabla de registro de pedido  -->
  <table class="contenedor1">
    <!-- Fecha -->
    <tr class="col-full-12">
      <td class="fecha-lista-pedido">
        <input type="date" name="fecha" id="fecha" />
      </td>
    </tr>


    <section class="contenedor1">
      <div class="col-full-8"></div>
      <div class="col-full-4">
        <button class="btn-new-pedido"  >Ingresar Nuevo Pedido</button>
      </div>
    </section>

    <!---  table header -  -->

    <thead class="col-full-12  list-table-container ">
      <tr class=" tr-container">
        <th class="th-lista-pedido">N. Pedido</th>
        <th class="th-lista-pedido">Nombre del cliente</th>
        <th class="th-lista-pedido">Sucursal</th>
        <th class="th-lista-pedido">Domicilio</th>
        <th class="th-lista-pedido">Hora de Referencia</th>
        <th class="th-lista-pedido">Estado</th>
        <th class="th-lista-pedido">Detalles</th>
        <th class="th-lista-pedido">Items</th>
      </tr>
    </thead>

    <tbody class="col-full-12">

      <!---  ejemplo 1  -->
      <tr class=" tr-container-list">

        <td class="td-lista-pedido">
          <p>465</p>
        </td>
        <td class="td-lista-pedido">
          <p>465</p>
        </td>
        <td class="td-lista-pedido">
          <p>465</p>
        </td>
        <td class="td-lista-pedido">
          <p>465</p>
        </td>
        <td class="td-lista-pedido">
          <p>465</p>
        </td>
        <td class="td-lista-pedido">
          <p>465</p>
        </td>
        <td class="td-lista-pedido">
          <button>+</button>
        </td>
        <td class="td-lista-pedido">
          <button>+</button>
        </td>
      </tr>


      <!---  ejemplo 1  -->
      <tr class=" tr-container-list">

        <td class="td-lista-pedido">
          <p>465</p>
        </td>
        <td class="td-lista-pedido">
          <p>465</p>
        </td>
        <td class="td-lista-pedido">
          <p>465</p>
        </td>
        <td class="td-lista-pedido">
          <p>465</p>
        </td>
        <td class="td-lista-pedido">
          <p>465</p>
        </td>
        <td class="td-lista-pedido">
          <p>465</p>
        </td>
        <td class="td-lista-pedido">
          <button>+</button>
        </td>
        <td class="td-lista-pedido">
          <button>+</button>
        </td>
      </tr>

      <!---  ejemplo 1  -->
      <tr class=" tr-container-list">

        <td class="td-lista-pedido">
          <p>465</p>
        </td>
        <td class="td-lista-pedido">
          <p>465</p>
        </td>
        <td class="td-lista-pedido">
          <p>465</p>
        </td>
        <td class="td-lista-pedido">
          <p>465</p>
        </td>
        <td class="td-lista-pedido">
          <p>465</p>
        </td>
        <td class="td-lista-pedido">
          <p>465</p>
        </td>
        <td class="td-lista-pedido">
          <button>+</button>
        </td>
        <td class="td-lista-pedido">
          <button>+</button>
        </td>
      </tr>

    </tbody>

    <!-- Primer tr -->
  </table>
</form>