<form action="" class="fila">
  <section class="contenedor1">
    <div class="col-full-12">
      <h2>Ingresa un pedido</h2>
    </div>
  </section>

  <section class="contenedor1">
    <div class="col-full-8"></div>
    <div class="col-full-4">
      <button>Ingresar Nuevo Pedido</button>
    </div>
  </section>

  <!--  tabla de registro de pedido  -->
  <table class="contenedor1">
    <!-- Fecha -->
    <tr class="col-full-12">
      <td>
        <input type="date" name="fecha" id="fecha" />
      </td>
    </tr>

    <!---  table header -  -->

    <thead class="col-full-12  list-table-container ">
      <tr class=" tr-container">
        <th>N. Pedido</th>
        <th>Nombre del cliente</th>
        <th>Sucursal</th>
        <th>Domicilio</th>
        <th>Estado</th>
        <th>Detalles</th>
        <th>Items</th>
      </tr>
    </thead>

    <tbody class="col-full-12">
      <tr class=" tr-container">
        <td>
          <p>465</p>
        </td>
        <td>
          <p>465</p>
        </td>
        <td>
          <p>465</p>
        </td>
        <td>
          <p>465</p>
        </td>
        <td>
          <p>465</p>
        </td>
        <td>
          <button>+</button>
        </td>
        <td>
          <button>+</button>
        </td>
      </tr>
    </tbody>

    <!-- Primer tr -->
  </table>
</form>
